* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --primary-color: #080808;
    --secondary-color: #fff;

}

.dark-theme {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

body {
    background: var(--primary-color);
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/123.png);
    background-size: cover;
    background-position: center;
    position: sticky;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    width: 200px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

.header-text {
    font-size: 45px;
    margin-top: 175px;
}

.header-text h1 span {
    color: #ff004f;
}

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-image: url(images/123.png);
    background-size: cover;
    background-position: center;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {

    width: auto;
    padding-left: 500px;
}

.about-col-2 {
    flex-basis: 60%;
    font-family: 'Ubuntu', sans-serif;

}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}

.sub-tittle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.btn {
    display: block;
    margin: 50px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: background 0.5s;
    display: inline-block;
}

.btn:hover {
    background: #ff004f;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s;
    transform: 0.5s;
}

.skills-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

#projects {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
}

.contact-container {
    width: 100%;
    height: 100vh;
    background-image: url(images/123.png);
    background-size: cover;
    background-position: center;
}

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.btn.btn2:hover {
    color: #ff004f;
    background: #fff;
}

.contact-left ul {
    display: flex;
    padding: 0;
}

.contact-left ul li {
    list-style: none;
    padding: 5px;
}

.contact-left ul li a img {
    width: 20px;
    text-decoration: none;
    display: flex;
}

.contact-right {
    flex-basis: 60%;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.footer p {
    color: #fff;
}